.contact-container{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact-container a{
    color: black;
}

.icon{
    font-size: 100px;
    cursor: pointer;
}
.icon1{
    color: rgb(243, 11, 11);
}
.icon1:hover{
    opacity: 0.8;
    filter: brightness(110%);
}
.icon2{
    color: blue;
}
.icon2:hover{
    opacity: 0.7;
    filter: brightness(110%);
}
.icon3{
    color: rgb(194, 194, 248);
}
.icon3:hover{
    opacity: 0.8;
    filter: brightness(110%);
}
.icon4{
    color: rgb(140, 140, 249);
}
.icon4:hover{
    opacity: 0.8;
    filter: brightness(110%);
}
.icon5:hover{
    opacity: 0.8;
    filter: brightness(110%);
}
.icon6:hover{
    opacity: 0.8;
    filter: brightness(110%);
}

@media screen and (max-width: 235px) {
    .contact-container{
        margin-top: 30px;
        height: auto;
    }
    .icon{
        font-size: 80px;
    }
}
