@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #EEF2F7;
  font-family: "Playwrite DE Grund", sans-serif;
  overflow-x: hidden;
  
}