
.navbar-container{
height: 80px;
width: 100vw;
display: flex;
align-items: center;
justify-content: space-between;
/* gap: 55%; */
/* padding-left:10px; */
/* padding-right: 10px; */
/* border: 2px solid red; */
}
.logo-section{
    /* position: relative; */
    margin-left: 7%;
    cursor: pointer;
}




.nav-links-menu{
    /* border: 2px solid red; */
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav-links-menu .menu{
    height: 100%;
    width: 100%;
}

.footer{
    height: 80px;
    width: 100vw;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer h2{
    /* border: 2px solid red; */
    text-align: center;
}

@media screen and (max-width: 600px) {
    .footer{
        height: auto;
    }
    .footer h2{
        height: auto;
        text-align: center;
    }
}