
.navbar-container{
height: 80px;
width: 100vw;
display: flex;
align-items: center;
justify-content: space-between;
/* gap: 55%; */
/* padding-left:10px; */
/* padding-right: 10px; */
/* border: 2px solid red; */
}
.logo-section{
    /* position: relative; */
    margin-left: 7%;
}


.nav-links{
    /* padding-right: 20px; */
    width: auto;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;
    
}
.nav-links li{
    list-style: none;
    
}
.nav-links li a{
    color:blue;
    font-size: 25px;
    text-decoration: none;
    
}
.footer{
    height: 80px;
width: 100vw;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer h2{
    /* border: 2px solid red; */
    text-align: center;
}

@media screen and (max-width: 600px) {
    .logo-section{
        /* margin-left: 10%; */
        font-size: 10px;
    }
    .footer{
        height: auto;
    
    }
    .footer h2{
        /* border: 2px solid red; */
        height: auto;
        text-align: center;
    }
}